<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BA Thesis - Lennart Rönneburg</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- CSS for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/decision.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Project JS -->
  <script src="js/first_query.js"></script>



</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <a style="text-decoration: none;" href="index.html" class="sidebar-heading">
        <div class="sidebar-heading-logo"></div>
        <div style="text-decoration: none; color: black;" class="sidebar-heading-name">Universität Hamburg</div>
      </a>
      <div class="list-group list-group-flush">
        <a href="/index.html" class="list-group-item list-group-item-action bg-light">Informationen</a>
        <a href="/clusterList.html" class="list-group-item list-group-item-action bg-light">Cluster</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Statistiken</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" id="header">
        <button class="btn btn-primary" id="menu-toggle">Menü</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li style="padding-top: .5rem; margin-right: 40px;" class="nav-item active">
              <label for="suche">Suche</label>
              <input class="search-feld" type="search" id="suche" placeholder="Suchbegriff..." onkeydown="searchAZByEnter()">
              <button type="submit" onclick="searchAZ()"><i class="fa fa-search"></i></button> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/lroenneburg/bundesgerichte_law_corpus" id="header-github-link">
                <div class="github-logo"></div>
                <div style="padding-left: .3rem;">GitHub</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="header-thesis-link">
                <div class="pdf-logo"></div>
                <div style="padding-left: .3rem;">Thesis</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/lroenneburg/bundesgerichte_law_corpus" id="header-about-link">
                <div class="about-logo"></div>
                <div style="padding-left: .3rem;">About</div>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="title-div drow">
          <div class="title-desc ddesc">Titel</div>
          <div class="title-value" th:text="${Titel}"></div>
        </div>
        <div class="docketNumber-div drow">
          <div class="docketNumber-desc ddesc">Aktenzeichen</div>
          <div class="docketNumber-value" th:text="${Aktenzeichen}"></div>
        </div>
        <div class="ecli-div drow">
          <div class="ecli-desc ddesc">ECLI</div>
          <div class="ecli-value" th:text="${ECLI}"></div>
        </div>
        <div class="courtType-div drow">
          <div class="courtType-desc ddesc">Gerichtstyp</div>
          <div class="courtType-value" th:text="${Gerichtstyp}"></div>
        </div>
        <div class="formation-div drow">
          <div class="formation-desc ddesc">Spruchkörper</div>
          <div class="formation-value" th:text="${Spruchkoerper}"></div>
        </div>
        <div class="decisionDate-div drow">
          <div class="decisionDate-desc ddesc">Entscheidungsdatum</div>
          <div class="decisionDate-value" th:text="${Entscheidungsdatum}"></div>
        </div>
        <div class="decisionType-div drow">
          <div class="decisionType-desc ddesc">Entscheidungstyp</div>
          <div class="decisionType-value" th:text="${Entscheidungstyp}"></div>
        </div>
        <div class="norms-div drow">
          <div class="norms-desc ddesc">Normen</div>
          <div class="norms-value" th:text="${Normen}"></div>
        </div>
        <div class="previousCourts-div drow">
          <div class="previousCourts-desc ddesc">Vorinstanzen</div>
          <div class="previousCourts-value" th:if="${Vorinstanzen != null}">
            <ul class="previousCourts-value">
              <li th:each="item : ${Vorinstanzen}" th:text="${item}"></li>
            </ul>
          </div>

        </div>
        <div class="url-div drow">
          <div class="url-desc ddesc">URL</div>
          <a class="url-value" th:href="${URL}" th:text="${URL}"></a>
        </div>
        <div class="pageRank-div drow">
          <div class="pageRank-desc ddesc">PageRank</div>
          <div class="pageRank-value" th:text="${PageRank}"></div>
        </div>
        <div class="cluster-div drow">
          <div class="cluster-desc ddesc">Cluster</div>
          <a th:href="@{'http://localhost:8080/cluster?id=' + ${Cluster}}" class="cluster-value" th:text="${Cluster}"></a>
        </div>
        <div class="revision-outcome-div drow">
          <div class="revision-outcome-desc ddesc">Revisionsausgang</div>
          <div class="revision-outcome-value"></div>
        </div>
        <div class="revision-confidence-div drow">
          <div class="revision-confidence-desc ddesc">Präzision</div>
          <div class="revision-confidence-value"></div>
        </div>
        <div class="guidingPrinciple-div drow">
          <div class="guidingPrinciple-desc ddesc">Leitsatz</div>
          <div class="guidingPrinciple-value" th:if="${Leitsatz} != null">
            <ul class="guidingPrinciple-value">
              <li th:each="item : ${Leitsatz}" th:text="${item}"></li>
            </ul>
          </div>
        </div>
        <div class="sonstosatz-div drow">
          <div class="sonstosatz-desc ddesc">Sonstiger Orientierungssatz</div>
          <div class="sonstosatz-value" th:if="${SonstigerOrientierungssatz} != null">
            <ul class="sonstosatz-value">
              <li th:each="item : ${SonstigerOrientierungssatz}" th:text="${item}"></li>
            </ul>
          </div>
        </div>
        <div class="tenor-div drow">
          <div class="tenor-desc ddesc">Tenor</div>
          <div class="tenor-value" th:if="${Tenor} != null">
            <ul class="tenor-value">
              <li style="list-style: none; margin-bottom: 5px;" th:each="item : ${Tenor}" th:text="${item}"></li>
            </ul>
          </div>
        </div>
        <div class="fact-div drow">
          <div class="fact-desc ddesc">Tatbestand</div>
          <div class="fact-value" th:if="${Tatbestand != null}">
            <ol class="fact-value">
              <li th:each="item : ${Tatbestand}" th:value="${item.recital}">
                <div style="margin-left: 10px;" class="text" th:text="${item.text}"></div>
              </li>
            </ol>
          </div>
        </div>

        <div class="dissentingOpinions-div drow">
          <div class="dissentingOpinions-desc ddesc">Abweichende Meinungen</div>
          <div class="dissentingOpinions-value" th:if="${AbweichendeMeinungen != null}">
            <ol class="dissentingOpinions-value">
              <li th:each="item : ${AbweichendeMeinungen}" th:value="${item.recital}">
                <div style="margin-left: 10px;" class="text" th:text="${item.text}"></div>
              </li>
            </ol>
          </div>
        </div>

        <div class="occuringCitations-div drow">
          <div class="occuringCitations-desc ddesc">Zitate</div>
          <div class="occuringCitations-value" th:if="${Zitate != null}">
            <ul class="occuringCitations-value">
              <li th:each="item : ${Zitate}" th:text="${item}"></li>
            </ul>
          </div>
        </div>
        <div class="decisionReasons-div drow">
          <div class="decisionReasons-desc ddesc">Entscheidungsgründe</div>
          <div class="decisionReasons-value" th:if="${Entscheidungsgruende != null}">
            <ol class="decisionReasons-value">
              <li th:each="item : ${Entscheidungsgruende}" th:value="${item.recital}">
                <!--<div class="recital" th:text="${item.recital}"></div>-->
                <div style="margin-left: 10px; margin-bottom: 10px;" class="text" th:text="${item.text}"></div>
              </li>
            </ol>
          </div>
        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
